<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
            <meta name="description" content="#" />
            <meta name="keywords" content="#" />
            <meta name="author" content="#" />

            <title>{% block title %}DuckTV{% endblock %}</title>

            <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}" />

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{ asset("vendor/jquery-ui/css/jquery-ui.css") }}" />
            <script src="{{ asset("vendor/jquery-ui/js/jquery-ui.js") }}"></script>

            {% block stylesheets %}{% endblock %}

            <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

        </head>
        <body>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
                -
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

                <div>
                    Grilles
                        Par défaut
                        Semaine actuelle
                        Semaine suivante
                        Transitions
                    Vidéos
                        Liste
                        Ajouter
                    Catégories
                        Liste
                        Ajouter
                    Documentation
                        Guide
                        Téléchargements
                </div>

            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}

            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ key }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

            {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
            {% block fos_user_content %}
            {% endblock fos_user_content %}

            {% block javascripts %}{% endblock %}
        </body>
</html>