{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Grille{% endblock %}

{% block body %}
    <h1>Grille des transitions</h1>

    <form action="{{ path("duck_tv_app_grid_update_transition") }}" method="post">
        <table border="1" style="opacity:0">
            <tr>
                <th class="thSpecial"><input type="submit" name="grid[update]" value="" class="refresh refreshGrid" /></th>
                <th>Début des cours</th>
                <th>Pause de 9h30</th>
                <th>Pause de 11h</th>
                <th>Début pause midi</th>
                <th>Fin pause midi</th>
                <th>Pause de 15h30</th>
                <th>Pause de 17h</th>
                <th>Fin des cours</th>
            </tr>
            {% for jour in jours %}
                <tr>
                    <th>
                        {{ jour.day }}
                        <input type="submit" name="grid[{{ jour.id }}][update]" value="" class="refresh refreshDay" />
                    </th>
                    {% for transition in jour.transitions %}
                        <td>
                            <ul>
                                <li class="liTransition">
                                    <div class="handleAlternative handleTransition"></div>
                                    <div class="transitionTitle">{{ transition.videoTitle|length > 17 ? transition.videoTitle|slice(0, 17)|upper ~ '...' : transition.videoTitle|upper  }}</div>
                                    <div class="toggle toggleTransition"></div>
                                    <div class="tab">
                                        <input type="hidden" name="grid[{{ jour.id }}][{{ transition.id }}][id]" value="{{ transition.id }}" />
                                        <input class="edit-input edit-input-transition" type="url" onClick="this.setSelectionRange(0, this.value.length)" name="grid[{{ jour.id }}][{{ transition.id }}][url]" value="{{ transition.videoUrl }}" />
                                        <input type="submit" class="edit-button edit-button-transition" name="grid[{{ jour.id }}][{{ transition.id }}][update]" value="" />
                                    </div>
                                </li>
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>

    <script>
        // fonction pour inverser les lignes et les colonnes d'un tableau
        $("table").each(function () {
            var $this = $(this);
            var newrows = [];
            $this.find("tr").each(function () {
                var i = 0;
                $(this).find("td,th").each(function () {
                    i++;
                    if (newrows[i] === undefined) {
                        newrows[i] = $("<tr></tr>");
                    }
                    newrows[i].append($(this));
                });
            });
            $this.find("tr").remove();
            $.each(newrows, function () {
                $this.append(this);
            });
        });

        // on joue sur l'opacité au chargement pour éviter l'effet de saut d'inversion des tr td
        $("table").css({opacity : 1});


        $(".toggle").click(function() {
            $(this).parent().find(".tab").slideToggle("slow");
        });
    </script>

{% endblock %}