{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Vidéos{% endblock %}

{% block body %}
    <h1>Videos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ID Vidéo</th>
                <th>Date de soumission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td><a href="{{ path('duck_tv_app_video_show', { 'slug': video.slug }) }}">{{ video.id }}</a></td>
                <td>{{ video.videoId }}</td>
                <td>{% if video.submissionDate %}{{ video.submissionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('duck_tv_app_video_show', { 'slug': video.slug }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('duck_tv_app_video_edit', { 'slug': video.slug }) }}">éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('duck_tv_app_video_new') }}">Créer une nouvelle vidéo</a>
        </li>
    </ul>
{% endblock %}
