{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter une vidéo{% endblock %}

{% block body %}
    <h1>Ajouter une vidéo</h1>

    <div class="edit-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
        {{ form_end(form) }}
    </div>


    <a href="{{ path('duck_tv_app_video_index') }}" class="back">Retour à la liste</a>
{% endblock %}
