{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Vidéo : {{ video.title }}{% endblock %}

{% block body %}
    <h1>Video : {{ video.title }}</h1>

    {#
        <img src="{{ video.thumbnailStandard }}" alt="standard" />
        <img src="{{ video.thumbnailMaxRes }}" alt="maxres" />
    #}

    <div>
        {{ video.description }}
    </div>

    <p>{{ video.submissionDate|date() }}</p>

    <p>{{ video.duration }}</p>

    <a href="{{ video.channelUrl }}">{{ video.channelTitle }}</a>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.videoId }}" frameborder="0" allowfullscreen></iframe>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Videoid</th>
                <td>{{ video.videoId }}</td>
            </tr>
            <tr>
                <th>Submissiondate</th>
                <td>{% if video.submissionDate %}{{ video.submissionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('duck_tv_app_video_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('duck_tv_app_video_edit', { 'slug': video.slug }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
