{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Vidéo : {{ video.title }}{% endblock %}

{% block body %}

    {% set duration = video.duration %}
    {% set dHours = (duration/3600)|round(0, 'floor') %}
    {% set dMinutes = ((duration/60) % 60)|round(0, 'floor') %}
    {% set dSeconds = duration % 60 %}

    <h1>
        Video : {{ video.title }}

        <form action="{{ path('duck_tv_app_video_show', { 'slug': video.slug }) }}" method="post">
            <input type="hidden" name="video" value="{{ video.id }}" />
            <input type="submit" value="" class="video-delete-special" />
        </form>
    </h1>

    <iframe width="900" height="500" class="vid-single" src="https://www.youtube.com/embed/{{ video.videoId }}" frameborder="0" allowfullscreen></iframe>

    <div class="vid-infos">
        <div class="vid-duration">
            {% if dHours != 0 %}{{ dHours|abs }}h {% endif %}{% if dMinutes != 0 %}{{ dMinutes|abs }}m {% endif %}{{ dSeconds|abs }}s | {{ video.category.name }}
            <a class="channel-title" href="{{ video.channelUrl }}">{{ video.channelTitle }}</a>
        </div>

        <div class="vid-desc">
            {{ video.description }}
        </div>
    </div>

    <a href="{{ path('duck_tv_app_video_index') }}" class="back">Retour à la liste</a>

{% endblock %}
