{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>


    <div class="allCategories">
    {% for category in categories %}
        <div class="sexyCategory">
            <a class="category-name" href="{{ path('duck_tv_app_category_show', { 'slug': category.slug }) }}">{{ category.name }}</a>
            <a class="category-edit" href="{{ path('duck_tv_app_category_edit', { 'slug': category.slug }) }}"></a>

            {% if category.videos|length == 0 %}
                <form action="{{ path("duck_tv_app_category_index") }}" method="post">
                    <input type="hidden" name="category" value="{{ category.id }}" />
                    <input type="submit" value="" class="category-delete" />
                </form>
            {% else %}
                <div class="fake-category-delete"></div>
            {% endif %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
