{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter une catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une catégorie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
