{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>

    <h3>Il y a <span>{{ category.videos|length }}</span> vidéo{% if category.videos|length > 1 %}s{% endif %} !</h3>

    <div class="wrapAllVideosFromCat">
        {% for video in category.videos %}

            {% set duration = video.duration %}
            {% set dHours = (duration/3600)|round(0, 'floor') %}
            {% set dMinutes = ((duration/60) % 60)|round(0, 'floor') %}
            {% set dSeconds = duration % 60 %}

            <div class="vidByCat">
                <a class="vidByCat-title" href="{{ path('duck_tv_app_video_show', { 'slug': video.slug }) }}">{{ video.title }}</a>
                <div class="vidByCat-thumbnail" style="background:url('{{ video.thumbnail }}') no-repeat center center; background-size: cover;"></div>
                <div class="vidByCat-duration">{% if dHours != 0 %}{{ dHours|abs }}h {% endif %}{% if dMinutes != 0 %}{{ dMinutes|abs }}m {% endif %}{{ dSeconds|abs }}s</div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('duck_tv_app_category_index') }}" class="back">Retour à la liste</a>

{% endblock %}
