{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Liste des catégories{% endblock %}

{% block body %}
    <h1>Broadcasts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for broadcast in broadcasts %}
            <tr>
                <td><a href="{{ path('duck_tv_app_broadcast_show', { 'id': broadcast.id }) }}">{{ broadcast.id }}</a></td>
                <td>{{ broadcast.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('duck_tv_app_broadcast_show', { 'id': broadcast.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('duck_tv_app_broadcast_edit', { 'id': broadcast.id }) }}">éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('duck_tv_app_broadcast_new') }}">Créer une nouvelle diffusion</a>
        </li>
    </ul>
{% endblock %}
