{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter une catégorie{% endblock %}

{% block body %}
    <h1>Broadcast creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('duck_tv_app_broadcast_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
